<%  include ../layout/header.ejs %>

<link rel = "stylesheet" href = <%= assetFingerprint('/stylesheets/post.css') %>

</header>

<body>
<div class="main">
    <div class="container">
        <div class="content">

            <div class="post">
                <div class="top">
                    <h2>
                        <%=post.title %>
                    </h2>
                </div>
                <div class="body">

                        <%-post.body %>

                </div>
                <div class="bottom">
                  <!--  <div class="author">
                        Author:
                        <a href="/">Гедеван</a>
                    </div> -->
                </div>
            </div>

            <div class="comments" id="<%=post.id %>">
                <h3>Comments</h3>
                <!-- Где будут храниться комменты -->
                <div class="comment-list">
                    <%- include('../layout/comments.ejs', {items: comments}) %>

                  <!--  <span class="link" id="new">Оставить комментарий</span>-->
                    <form class="comment">
                        <textarea name="body"></textarea>
                        <div class="buttons">
                            <button class="cancel secondary">Cancel</button>
                            <button class="send">Send</button>
                        </div>
                    </form>
                </div>
            </div>



        </div>


    </div>
</div>



<% include ../layout/footer.ejs %>
