<%  include ../layout/header.ejs %>

<link rel = "stylesheet" href = <%= assetFingerprint('/stylesheets/comments.css') %>

</header>

<body class = "body_indexx">

<% include ../layout/banner.ejs%>
<div class = "main_nav">
    <div class = "nav">
        <%  include ../layout/nav.ejs%>
    </div>
</div>


<div class="main">

    <div class = "desktop_nav">
        <% include ../layout/desktopNav.ejs%>
    </div>

        <div class="content">

            <div class="post">
                <div class="top">
                    <h5>
                        <%=post.title %>
                    </h5>
                </div>
                <div class="body">

                        <%-post.body %>

                </div>
                <div class="bottom">
                  <!--  <div class="author">
                        Author:
                        <a href="/">Гедеван</a>
                    </div> -->
                </div>
            </div>

            <div class="comments" id="<%=post.id %>">

                <h3 class = "h3_comment">Comments</h3>

                <div class="comment-list">
                    <%- include('../layout/comments.ejs', {items: comments}) %>

                    <form class="comment">
                        <textarea class = "input"  type="text" name="body" placeholder="Your comment"></textarea>
                        <div class="buttons">
                            <button class="cancel secondary old">Cancel</button>
                            <button class="send new">Send</button>
                        </div>
                    </form>
                </div>
            </div>



        </div>


    </div>



<% include ../layout/footer.ejs %>
